<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>178603756584-cs0e6k326jn05mqi53qo4ca8aoab623u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.178603756584-cs0e6k326jn05mqi53qo4ca8aoab623u</string>
	<key>API_KEY</key>
	<string>AIzaSyBH4tO9dCJ-7a4cEftAZcodg0561r4xQZ8</string>
	<key>GCM_SENDER_ID</key>
	<string>178603756584</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.angelaivy.olaenergy</string>
	<key>PROJECT_ID</key>
	<string>ola-energy-6e327</string>
	<key>STORAGE_BUCKET</key>
	<string>ola-energy-6e327.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:178603756584:ios:1a1ae2cba7c99f9201b91d</string>
</dict>
</plist>